<div class="btn-list">
	<span class="d-none d-sm-inline">
		{% if page.layout-navbar-overlap and page.layout-navbar-dark %}
		{% include ui/button.html text="创建新视图" color="dark" %}
		{% else %}
		{% include ui/button.html text="创建新视图"  %}
		{% endif %}
	</span>
	{% include ui/button.html icon="plus" text="创建新报表" color="primary" class="d-none d-sm-inline-block" modal-id="report" %}
	{% include ui/button.html icon="plus" icon-only=true color="primary" class="d-sm-none" text="创建新报表" modal-id="report" %}
</div>

{% include ui/modal.html modal-id="report" size="lg" top=true %}
