<form action="{{ site.base }}/" method="get" autocomplete="off" novalidate>
	<div class="mb-3">
		<label class="form-label">邮箱地址</label>
		<input type="email" class="form-control" placeholder="your@email.com" autocomplete="off">
	</div>
	<div class="mb-2">
		<label class="form-label">
			密码
			<span class="form-label-description">
					<a href="{{ site.base }}/forgot-password.html">忘记密码？</a>
				</span>
		</label>
		{% include ui/form/input-group.html type="password" append-button="eye:Show password" flat=true placeholder="Your password" %}
	</div>
	<div class="mb-2">
		<label class="form-check">
			<input type="checkbox" class="form-check-input"/>
			<span class="form-check-label">记住设备</span>
		</label>
	</div>

	<div class="form-footer">
		<button type="submit" class="btn btn-primary w-100">登陆</button>
	</div>
</form>