<div class="row row-deck row-cards">
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/sales.html %}
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/revenue.html %}
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/new-clients.html %}
	</div>

	<div class="col-sm-6 col-lg-3">
	  {% include cards/charts/active-users.html %}
	</div>

	<div class="col-12">
		<div class="row row-cards">
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html color="primary" icon="location" title="已巡查 5 处" description="尚有 12 处未巡查完毕" %}
			</div>
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html color="green" icon="photo-sensor-2" title="13 传感器在线" description="共 13 传感器" %}
			</div>
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html icon="circuit-motor" color="twitter" title="25 次启动" description="今日启动 3 次" %}
			</div>
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html icon="zoom-check" color="facebook" title="已运行 5 天" description="距离下次检修日 598 天" %}
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">网络流量监控</h3>
				<div class="image"></div>
<img src="img/slam.gif" alt="" />
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		{% include cards/map-vector.html title="主相机影像" %}
	</div>
	<div class="col-lg-6">
		<div class="row row-cards">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<p class="mb-3">已使用内存 <strong>6854.45 MB </strong>共 8 GB</p>
						<div class="progress progress-separated mb-3">
							<div class="progress-bar bg-primary" role="progressbar" style="width: 44%" aria-label="硬件缓存"></div>
							<div class="progress-bar bg-info" role="progressbar" style="width: 19%" aria-label="系统占用"></div>
							<div class="progress-bar bg-success" role="progressbar" style="width: 9%" aria-label="关键应用"></div>
						</div>
						<div class="row">
							<div class="col-auto d-flex align-items-center pe-2">
								<span class="legend me-2 bg-primary"></span>
								<span>硬件缓存</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-secondary">915MB</span>
							</div>
							<div class="col-auto d-flex align-items-center px-2">
								<span class="legend me-2 bg-info"></span>
								<span>系统占用</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-secondary">415MB</span>
							</div>
							<div class="col-auto d-flex align-items-center px-2">
								<span class="legend me-2 bg-success"></span>
								<span>关键应用</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-secondary">201MB</span>
							</div>
							<div class="col-auto d-flex align-items-center ps-2">
								<span class="legend me-2"></span>
								<span>空闲</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-secondary">612MB</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<p class="mb-3">已使用储存 <strong>62854.23 MB </strong>共 512 GB</p>
				<div class="progress progress-separated mb-3">
					<div class="progress-bar bg-primary" role="progressbar" style="width: 10%" aria-label="驱动"></div>
					<div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-label="系统占用"></div>
					<div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-label="用户文件"></div>
				</div>
				<div class="row">
					<div class="col-auto d-flex align-items-center pe-2">
						<span class="legend me-2 bg-primary"></span>
						<span>驱动</span>
						<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-secondary">1365MB</span>
					</div>
					<div class="col-auto d-flex align-items-center px-2">
						<span class="legend me-2 bg-info"></span>
						<span>系统占用</span>
						<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-secondary">10034MB</span>
					</div>
					<div class="col-auto d-flex align-items-center px-2">
						<span class="legend me-2 bg-success"></span>
						<span>用户文件</span>
						<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-secondary">40085MB</span>
					</div>
					<div class="col-auto d-flex align-items-center ps-2">
						<span class="legend me-2"></span>
						<span>空闲</span>
						<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-secondary">500000MB</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-lg-12">
		{% include cards/most-visited-pages.html %}
	</div>




</div>