<form class="card card-md" action="{{ site.base }}/" method="get" autocomplete="off" novalidate>
	<div class="card-body">
		<h2 class="card-title text-center mb-4">忘记密码</h2>

		<p class="text-secondary mb-4">输入巡检机器人内部贴纸上的认证号以重置密码</p>

		<div class="mb-3">
			<label class="form-label">认证号</label>
			<input type="email" class="form-control" placeholder="Enter email">
		</div>
		<div class="form-footer">
			{% include ui/button.html text="重置为初始密码" block=true color="primary" icon="reload" %}
		</div>
	</div>
</form>
<div class="text-center text-secondary mt-3">
	无法获得认证码, <a href="{{ site.base }}/sign-in.html">返回</a> 登录界面。
</div>
