<div class="card card-md">
	<div class="card-body">
		<h2 class="h2 text-center mb-4">登陆您的管理员账号</h2>

		{% include forms/sign-in.html %}
	</div>

	{% include ui/hr.html text="or" %}

	<div class="card-body">
		<div class="row">
			<div class="col">{% include ui/button.html  block=true icon="phone-outgoing" icon-color="github" text="联系管理员登录" %}</div>
			<div class="col">{% include ui/button.html  block=true icon="password" icon-color="twitter" text="获得一次性密码" %}</div>
		</div>
	</div>
</div>

<div class="text-center text-secondary mt-3">
	还没有账号？ <a href="{{ site.base }}/sign-up.html" tabindex="-1">注册</a>
</div>
