<form class="card card-md" action="{{ site.base }}/" method="get" autocomplete="off" novalidate>
	<div class="card-body">
		<h2 class="card-title text-center mb-4">创建新账号</h2>

		<div class="mb-3">
			<label class="form-label">姓名</label>
			<input type="text" class="form-control" placeholder="Enter name">
		</div>
		<div class="mb-3">
			<label class="form-label">邮箱地址</label>
			<input type="email" class="form-control" placeholder="Enter email">
		</div>
		<div class="mb-3">
			<label class="form-label">密码</label>
			{% include ui/form/input-group.html type="password" append-button="eye:Show password" flat=true placeholder="Password" %}
		</div>
		<div class="mb-3">
			<label class="form-check">
				<input type="checkbox" class="form-check-input"/>
				<span class="form-check-label">同意 <a href="{{ site.base }}/terms-of-service.html" tabindex="-1">西安重德瀚海工业科技有限公司的协议</a>.</span>
			</label>
		</div>

		<div class="form-footer">
			<button type="submit" class="btn btn-primary w-100">创建新账号</button>
		</div>
	</div>
</form>

<div class="text-center text-secondary mt-3">
	已经拥有管理员账号？ <a href="{{ site.base }}/sign-in.html" tabindex="-1">登录</a>
</div>
